In [3]:
import pandas as pd
d=pd.read_csv("employees spreadsheet - Sheet2 .csv")
print(d)

   S.no First Name  Gender Login time  Salary  Bonus(%)   Team Department  \
0     1    santosh    male       9:00   50000        10  team1         HR
1     2     chitra  female       8:00   40000        15  team1         HR
2     3     sheela  female       8:30   35000         5  team1         HR
3     4     monish    male       8:15   39000         8  team1         HR
4     5       raja    male       8:45   45000        16  team1         HR
5     6    monisha  female       9:00   75000        10  team2       tech
6     7       viji  female       9:15   60000         5  team2       tech
7     8       rose  female       9:10   50000        10  team2       tech
8     9     sriram    male       8:50   45000         6  team2       tech
9    10    shalini  female       8:35   70000         8  team2       tech

   Designation
0    Team head
1       member
2  coordinator
3       member
4  coordinator
5         head
6       member
7       member
8       member
9       member

In [4]:
df=pd.DataFrame(d)
print("columns",df.columns)
print(df.shape)

columns Index(['S.no', 'First Name', 'Gender', 'Login time', 'Salary', 'Bonus(%)',
       'Team', 'Department', 'Designation'],
      dtype='object')
(10, 9)

In [6]:
print("Department",df["Department"])

Department 0      HR
1      HR
2      HR
3      HR
4      HR
5    tech
6    tech
7    tech
8    tech
9    tech
Name: Department, dtype: object

In [7]:
print(df[5:9])

   S.no First Name  Gender Login time  Salary  Bonus(%)   Team Department  \
5     6    monisha  female       9:00   75000        10  team2       tech
6     7       viji  female       9:15   60000         5  team2       tech
7     8       rose  female       9:10   50000        10  team2       tech
8     9     sriram    male       8:50   45000         6  team2       tech

  Designation
5        head
6      member
7      member
8      member

In [8]:
print("Particular person details",df.loc[2])

Particular person details S.no                     3
First Name          sheela
Gender              female
Login time            8:30
Salary               35000
Bonus(%)                 5
Team                 team1
Department              HR
Designation    coordinator
Name: 2, dtype: object

In [9]:
print(d.loc[d['Salary']==75000])

KeyError: 'salary'